---
	import '../index.css';
	import { css } from "../../styled-system/css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/07-FEM_mortgage-repayment-calculator/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class={ css({ height: '100vh', width: '100vw', backgroundColor: 'slate.200' }) }>
        <slot/>
	</body>
</html>
